<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="CustomSection" type="Samples.AspNet.CustomSection, ConfigurationErrorsException, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
   </configSections>
   <runtime>
      <gcAllowVeryLargeObjects enabled="true" />
   </runtime>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
   </startup>
</configuration>